/*  Against all odds, though life is so hard
 *  we carry on, living in the projects -
 *  broke no lights on. 
 *  this CSS is brought to you by
 *  Niket Desai of Wit & Whim.
 *
 *
 *  Wit&Whim c2012 v1.0 04.24    #124
 */
 
 
 /*------------------------------------*\
 	TABLE OF CONTENTS
 \*------------------------------------*/ 
 /*
 RESET
 SITESETUP
 GLOBALS
 STYLE
 */
 
 
 /*------------------------------------*\
 	$RESET
 \*------------------------------------*/
 /*
 A more considered reset; more of a restart... As per: csswizardry.com/2011/10/reset-restarted
 */
 html,body,div,span,applet,object,iframe,
 h1,h2,h3,h4,h5,h6,p,blockquote,pre,hr,
 a,abbr,address,cite,code,
 del,dfn,em,img,ins,kbd,q,s,samp,
 small,strong,sub,sup,tt,var,
 b,u,i,
 dl,dt,dd,ol,ul,li,
 fieldset,form,label,legend,
 table,caption,tbody,tfoot,thead,tr,th,td,
 article,aside,canvas,details,figcaption,figure,
 footer,header,hgroup,menu,nav,section,summary,
 time,mark,audio,video{
 	margin:0;
 	padding:0;
 }
 article,aside,details,figcaption,figure,footer,
 header,hgroup,menu,nav,section{
 	display:block;
 }
 h1,h2,h3,h4,h5,h6{
 	font-size:100%;
 }
 table{
 	border-collapse:collapse;
 	border-spacing:0;
 }
 strong,b,mark{
 	font-weight:bold;
 	font-style:inherit;
 }
 em,i,cite,q,address,dfn,var{
 	font-style:italic;
 	font-weight:inherit;
 }
 abbr[title],dfn[title]{
 	cursor:help;
 	border-bottom:1px dotted;
 }
 ins{
 	border-bottom:1px solid;
 }
 a,u,ins{
 	text-decoration:none;
 }
 del,s{
 	text-decoration:line-through;
 }
 pre,code,samp,kbd{
 	font-family:monospace;
 }
 small{
 	font-size:0.75em;
 }
 img{
 	border:none;
 	font-style:italic;
 }
 input,
 select,option,optgroup,
 textarea{
 	font:inherit;
 }
 
 
 /* ============================== */
 /* ! Layout for desktop version   */
 /* ============================== */
/*------------------------------------*\
	$SITESETUP
\*------------------------------------*/
body {
 background-color: #fafafa;
 background: #fafafa url('../img/bg.png') repeat left top;
}


/*  FONTS & TEXT  */
h1, h2, h3, h4, h5, h6, p, li, a, div {
 font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
 text-align: center;
}

h1 { 
  color: #ffffff;
  font-size: 42px;
  font-weight: 500;
  letter-spacing: 1px;
  
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

h2 {
  padding: 35px 0;
  color: #434343;
  
  font-weight: 300;
  font-size: 24px;

}

h3 {
  padding: 10px 0;
  color: #434343;
 
  font-weight: 300;
  font-size: 22px;
}
 
p {
  font-weight: 300;  
}


/*  COLOURSCHEME  */
.grey-bg {
  background-color: #fafafa;
}

.white-bg {
  background-color: #ffffff;
}


/*  SITE STRUCTURES  */
.float {
  float: left;
}

.inline {
  display: inline-block;
}

.divider {
  padding: 15px 0;

  border-bottom: 1px solid #434343;
  opacity: 0.1;
}

.whole {
  width: 100%;
}

nav ul {
  float: right;
}

  nav ul li {
    list-style: none;
    float: left;
  } 
  
    nav ul li a {
      color: #4e4e4e;
      font-weight: 300;
    } 
    
/*  SPECIAL ELEMENTS  */

.button {
  
  /*  Sets up the button look  */
  background: rgb(122,188,255); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdhYmNmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ0JSIgc3RvcC1jb2xvcj0iIzYwYWJmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0MDk2ZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(122,188,255,1) 0%, rgba(96,171,248,1) 44%, rgba(64,150,238,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(122,188,255,1)), color-stop(44%,rgba(96,171,248,1)), color-stop(100%,rgba(64,150,238,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-8 */
  
  
  border-radius: 30px;
  
  -webkit-box-shadow: 0 2px 1px rgba(0,0,0, 0.3);
  -moz-box-shadow:    0 2px 1px rgba(0,0,0, 0.3);
  -o-box-shadow:      0 2px 1px rgba(0,0,0, 0.3);
  box-shadow:         0 2px 1px rgba(0,0,0, 0.3);
  
  
  
  /*  Sets up the button text  */
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  
  position: relative;
  top: -50%;
  padding: 10px 30px;
  
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  
}



/*------------------------------------*\
	$STYLE
\*------------------------------------*/ 
 
/*  DIV#HEADER  */
#header {
  height: 110px;
}

a#logo img {
  padding: 30px 0;
  margin: 0;
}

#header nav ul {
  padding: 30px 0;
}
  
  #header nav ul li {
    font-size: 16px;
    padding-left: 15px;
  }

/* DIV#HERO  */
.hero-bg {
  height: 320px;

  background-color: #FAFAFA; /* Backup for crap browsers */
  background: url('../img/banner-notype.jpg') top no-repeat, url('../img/bg.png') repeat;
  
  box-shadow: 0 4px 2px -2px gray;  
}

#hero ul {
  
}

#hero ul li {
  list-style: none;
  display: inline-block;
}

#hero ul li:nth-child(2) {
  width: 430px;
  padding: 100px 0;
}

#hero h1 {
  margin-top: 65px;
}

#hero h2, #hero h3 {
  color: #ffffff;
  padding: 0;
  
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  
  padding: 2px 0;
  
}

#hero h2 {
  margin-top: 65px;
}

#hero h3 {
  font-size: 14px;
  font-weight: 300;
  
  opacity: 0.9;
}

.hero-buttons {
  margin-top: 240px;
}

div#hero > div {
  z-index: 10;
  position: relative;
}

.hand {
  position: absolute;
  z-index: 0;
  opacity: 0;
}

#right-hand {
}

#left-hand {
}


/*  DIV#VALUE  */

#value h2 {
  padding: 50px 0 15px 0;
}

  #value h2.lead-in {
    font-size: 26px;
    padding-top: 90px;
  }

#value p {
  font-weight: lighter;
  font-size: 15px;
  line-height: 22px;
  
  color: #A5A5A5;
  padding: 20px 20px 55px 20px;
  
} 

/*  DIV#PROOF  */

#proof img {
  padding-top: 1px;
}

/*  DIV#FOOTER  */

#footer {
  padding: 30px 0;
}

#footer h3 {
  padding: 30px 0 20px 0;
  opacity: 0.9;
}

#footer-cta {
  padding: 20px 0 40px 0;
}

  #footer-cta > span {
    margin: 0 25px;
  }

#footer nav ul {
  padding: 25px 0;
  
}

  #footer nav ul li {
    font-size: 12px;
    padding-right: 15px;
  }

#footer p {
  font-size: 12px;
  padding: 25px 0;
}
/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}